# Haskell
.conf
*.o
*.hi
*.chi
*.chs.h
*.imports
cabal.sandbox.config

# Dirs
tmp
log
dist
.cabal-sandbox
/certs
/vendor
/cache

# CTAGS
TAGS
tags

# Emacs/Vim
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.org

# OSX
.DS_Store

# Output
*.pem
*.json

# Vagrant
/.vagrant

# Binaries
/bin
