# Haskell
.conf
*.o
*.hi
*.chi
*.chs.h
*.imports
cabal.sandbox.config

# Dirs
tmp
log
dist
.cabal-sandbox
/certs
/.khan
/vendor
/cache
/metadata/latest

# CTAGS
TAGS
tags

# Emacs/Vim
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.org

# OSX
.DS_Store

# Output
*.pem
*.json

# Binaries
/khan

# Ruby
/metadata/Gemfile.lock
